In [1]:
import common

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import random

random.seed(123)
np.random.seed(123)

In [4]:
data = pd.read_csv(common.data_dir / 'Wave soldering stacked.csv')
data.head()

   A  B  C  D  E  F  G   Label      Data
0 -1 -1 -1 -1 -1 -1 -1  SqrtY1  3.605551
1 -1 -1 -1 -1 -1 -1 -1  SqrtY2  5.477226
2 -1 -1 -1 -1 -1 -1 -1  SqrtY3  5.099020
3 -1 -1 -1  1  1  1  1  SqrtY1  2.000000
4 -1 -1 -1  1  1  1  1  SqrtY2  4.000000

In [22]:
formula_main = 'Data ~ A + B + C + D + E + F + G'
formula_interaction = ('Data ~ A + B + C + G + A:B + A:C + A:G + B:C + B:G + C:G  + ' +
                       'A:B:C + A:B:G + A:C:G + B:C:G + A:B:C:G')
formula_main = formula_interaction
group = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [21]:
resampled = data.groupby(group).sample(frac=1, replace=True).reset_index()
print(resampled)
common.buildModel(resampled, formula_main).summary().tables[1]

    index  A  B  C  D  E  F  G   Label       Data
0       1 -1 -1 -1 -1 -1 -1 -1  SqrtY2   5.477226
1       0 -1 -1 -1 -1 -1 -1 -1  SqrtY1   3.605551
2       0 -1 -1 -1 -1 -1 -1 -1  SqrtY1   3.605551
3       4 -1 -1 -1  1  1  1  1  SqrtY2   4.000000
4       4 -1 -1 -1  1  1  1  1  SqrtY2   4.000000
5       5 -1 -1 -1  1  1  1  1  SqrtY3   3.316625
6       8 -1 -1  1 -1 -1  1  1  SqrtY3   4.472136
7       6 -1 -1  1 -1 -1  1  1  SqrtY1   4.472136
8       7 -1 -1  1 -1 -1  1  1  SqrtY2   3.872983
9       9 -1 -1  1  1  1 -1 -1  SqrtY1   6.480741
10     11 -1 -1  1  1  1 -1 -1  SqrtY3   8.000000
11     10 -1 -1  1  1  1 -1 -1  SqrtY2   6.557439
12     13 -1  1 -1 -1  1 -1  1  SqrtY2   3.872983
13     14 -1  1 -1 -1  1 -1  1  SqrtY3   4.123106
14     14 -1  1 -1 -1  1 -1  1  SqrtY3   4.123106
15     15 -1  1 -1  1 -1  1 -1  SqrtY1   3.162278
16     16 -1  1 -1  1 -1  1 -1  SqrtY2   4.123106
17     16 -1  1 -1  1 -1  1 -1  SqrtY2   4.123106
18     19 -1  1  1 -1  1  1 -1  SqrtY2   5.385165
19     18 -1  1  1 -1  1  1 -1  SqrtY1   6.000000
20     19 -1  1  1 -1  1  1 -1  SqrtY2   5.385165
21     23 -1  1  1  1 -1 -1  1  SqrtY3   4.000000
22     23 -1  1  1  1 -1 -1  1  SqrtY3   4.000000
23     21 -1  1  1  1 -1 -1  1  SqrtY1   2.236068
24     24  1 -1 -1 -1  1  1 -1  SqrtY1   5.385165
25     25  1 -1 -1 -1  1  1 -1  SqrtY2   0.000000
26     24  1 -1 -1 -1  1  1 -1  SqrtY1   5.385165
27     27  1 -1 -1  1 -1 -1  1  SqrtY1   3.162278
28     29  1 -1 -1  1 -1 -1  1  SqrtY3   3.000000
29     27  1 -1 -1  1 -1 -1  1  SqrtY1   3.162278
30     30  1 -1  1 -1  1 -1  1  SqrtY1   5.291503
31     30  1 -1  1 -1  1 -1  1  SqrtY1   5.291503
32     31  1 -1  1 -1  1 -1  1  SqrtY2  13.152946
33     34  1 -1  1  1 -1  1 -1  SqrtY2  11.357817
34     35  1 -1  1  1 -1  1 -1  SqrtY3  12.288206
35     35  1 -1  1  1 -1  1 -1  SqrtY3  12.288206
36     36  1  1 -1 -1 -1  1  1  SqrtY1   3.316625
37     37  1  1 -1 -1 -1  1  1  SqrtY2   3.872983
38     38  1  1 -1 -1 -1  1  1  SqrtY3   3.316625
39     40  1  1 -1  1  1 -1 -1  SqrtY2   1.414214
40     40  1  1 -1  1  1 -1 -1  SqrtY2   1.414214
41     39  1  1 -1  1  1 -1 -1  SqrtY1   4.123106
42     42  1  1  1 -1 -1 -1 -1  SqrtY1   7.280110
43     43  1  1  1 -1 -1 -1 -1  SqrtY2   8.366600
44     43  1  1  1 -1 -1 -1 -1  SqrtY2   8.366600
45     46  1  1  1  1  1  1  1  SqrtY2   4.690416
46     45  1  1  1  1  1  1  1  SqrtY1   4.795832
47     47  1  1  1  1  1  1  1  SqrtY3   2.645751

In [25]:
ols_main = common.buildModel(data, formula_main)
ols_main.summary().tables[1]

In [23]:
ba_coeffs = common.bootstrapAnalysis(data, formula_main, nrepeats=1_000)
bba_coeffs = common.befittingBootstrapAnalysis(data, formula_main, group, nrepeats=1_000)

In [9]:
#ba_coeffs.agg(['mean', 'std']).transpose()

In [10]:
# bba_coeffs.agg(['mean', 'std']).transpose()

In [24]:
# Table IV 
tab_4 = pd.DataFrame({
    'BBA mean': bba_coeffs.mean(),
    'BBA var': bba_coeffs.var(),
    'BBA se': bba_coeffs.std(),
    'BBA LCI': bba_coeffs.quantile(0.025, axis=0),
    'BBA UCI': bba_coeffs.quantile(0.975, axis=0),
    
})
tab_4['95% BCI'] = tab_4['BBA UCI'] - tab_4['BBA LCI']
tab_4['to SE'] = tab_4['95% BCI'] / 3.92
tab_4.round(4)
# bba_coeffs.quantile(0.975, axis=0) -

           BBA mean  BBA var  BBA se  BBA LCI  BBA UCI  95% BCI   to SE
Intercept    5.0578   0.0380  0.1948   4.6887   5.4359   0.7472  0.1906
A            0.5410   0.0385  0.1961   0.1620   0.9329   0.7709  0.1967
B           -0.5398   0.0381  0.1951  -0.9414  -0.1648   0.7767  0.1981
C            1.4290   0.0386  0.1964   1.0714   1.8192   0.7477  0.1907
G           -0.8918   0.0396  0.1991  -1.2628  -0.4976   0.7652  0.1952
A:B         -0.2704   0.0380  0.1949  -0.6568   0.0883   0.7451  0.1901
A:C          0.7930   0.0397  0.1993   0.4225   1.2084   0.7859  0.2005
A:G          0.0308   0.0387  0.1967  -0.3291   0.4127   0.7418  0.1892
B:C         -0.5072   0.0391  0.1978  -0.9038  -0.1326   0.7712  0.1967
B:G          0.0120   0.0397  0.1992  -0.4023   0.3801   0.7824  0.1996
C:G         -0.8312   0.0361  0.1901  -1.1827  -0.4535   0.7292  0.1860
A:B:C       -0.2860   0.0387  0.1967  -0.6747   0.0546   0.7293  0.1861
A:B:G       -0.1618   0.0384  0.1959  -0.5381   0.2051   0.7432  0.1896
A:C:G       -0.2809   0.0378  0.1943  -0.6384   0.0914   0.7298  0.1862
B:C:G       -0.1603   0.0381  0.1951  -0.5423   0.1930   0.7353  0.1876
A:B:C:G      0.1182   0.0370  0.1924  -0.2794   0.4756   0.7550  0.1926

In [12]:
tab = pd.DataFrame({
    'BA mean': ba_coeffs.mean(),
    'BA var': ba_coeffs.var(),
    'BA se': ba_coeffs.std(),
    'BA LCI': ba_coeffs.quantile(0.025, axis=0),
    'BA UCI': ba_coeffs.quantile(0.975, axis=0),
    
})
tab['95% BCI'] = tab['BA UCI'] - tab['BA LCI']
tab['to SE'] = tab['95% BCI'] / 3.92
tab.round(4)
# bba_coeffs.quantile(0.975, axis=0) -

           BA mean  BA var   BA se  BA LCI  BA UCI  95% BCI   to SE
Intercept   5.0457  0.1083  0.3291  4.4139  5.7346   1.3207  0.3369
A           0.5216  0.0950  0.3083 -0.0756  1.1714   1.2470  0.3181
B          -0.5291  0.0979  0.3129 -1.1541  0.0677   1.2218  0.3117
C           1.4462  0.0995  0.3154  0.8481  2.0947   1.2466  0.3180
D          -0.1307  0.0974  0.3121 -0.7099  0.4662   1.1761  0.3000
E          -0.3041  0.1008  0.3174 -0.9101  0.3367   1.2467  0.3180
F          -0.1661  0.0998  0.3160 -0.8422  0.4208   1.2629  0.3222
G          -0.8884  0.0967  0.3110 -1.4574 -0.2322   1.2252  0.3125